<div class="container-fluid">
  <div class="row">
    <%= render partial: "sidebar", locals: { page: "position" } %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div id="container" style="min-width: 310px; height: 400px; max-width: 700px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            margin: [70, 50, 60, 80],
            events: {
                load: function () {

                        // set up the updating of the chart each second
                        var prey_series = this.series[0];
                        var predator_series = this.series[1];
                        var prey_prev_pos = [-1, -1]
                        var predator_prev_pos = [-1, -1]

                        setInterval(function () {
                            $.getJSON('/robots/', function (data) {
                              prey = data[0].last_position
                              predator = data[1].last_position
                              prey_pos = [parseInt(prey.x), parseInt(prey.y)]
                              predator_pos = [parseInt(predator.x), parseInt(predator.y)]

                              if (prey_pos[0] != prey_prev_pos[0] || prey_pos[1] != prey_prev_pos[1]) {
                                prey_series.addPoint(prey_pos, true, true);
                                prey_prev_pos = prey_pos
                              }
                              else { 
                                console.log('prey didnt move!')
                              }
                              if (predator_pos[0] != predator_prev_pos[0] || predator_pos[1] != predator_prev_pos[1]) {
                                predator_series.addPoint(predator_pos, true, true);
                                predator_prev_pos = predator_pos
                              }
                              else {
                                console.log('predator didnt move!')
                              }
                            });
                        }, 3000);
                    }
            }
        },
        title: {
            text: 'Artifical Life'
        },
        subtitle: {
            text: 'Predator and Prey Positions'
        },
        xAxis: {
            title: {
                text: 'X axis'
            },
            gridLineWidth: 1,
            minPadding: 0.2,
            maxPadding: 0.2,
            maxZoom: 60,
            min:0
        },
        yAxis: {
            title: {
                text: 'Y axis'
            },
            minPadding: 0.2,
            maxPadding: 0.2,
            maxZoom: 60,
            min:0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            enabled: true
        },
        exporting: {
            enabled: false
        },
        plotOptions: {
            series: {
                lineWidth: 1
            }
        },
        series: [{name: 'Prey', data: <%= @prey%> }, {name: 'Predator', data: <%= @predator%>}]
    });
});
console.log('<%= raw @prey_positions%>')
</script>
